@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#案例2-html实现类淘宝页面#</title>
</head>
<body>
    <table width="80%" align="center">
        <tr>
            <td>
                <table width="100%" align="center" cellpadding="0px" cellspacing="0px" border="1">
                    <tr>
                        <td width="33.3%">
                         
                        </td>
                        <td width="33.3%"></td>
                        <td width="33.3%" align="center">
                            <a href="#">登录</a>
                            <a href="#">
                                注册<a>
                                    <a href="#">购物车</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <img src="~/img/bg.jpg" width="100%" height="200px;" />
            </td>
        </tr>
        <tr>
            <td>
                <table style="height: 500px;width: 100%;" border="1">
                    <tr style="height: 50px">
                        <td bgcolor="#ff8c00" colspan="7">
                            <b style="color: white;font-size: 20px;padding: 30px">最新商品</b>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ff8c00" rowspan="2">
                            <img src="01_ali_logo.png" style="width: 300px">
                        </td>
                        <td align="center" colspan="3">
                            <img src="01_ali_logo.png">
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://img.alicdn.com/simba/img/TB1J.BIcWmWBuNkHFJHSuuatVXa.jpg" width="100%">
            </td>
        </tr>
        <tr>
            <td>
                <table style="height: 500px;" border="1">
                    <tr style="height: 50px">
                        <td bgcolor="purple" colspan="7">
                            <b style="color: white;font-size: 20px;padding: 30px">热门商品</b>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ff8c00" rowspan="2">
                            <img src="01_ali_logo.png" style="width: 300px">
                        </td>
                        <td align="center" colspan="3" width="300px" height="200px">
                            <img src="01_ali_logo.png">
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                        <td align="center" style="margin: auto">
                            <img src="01_ali_logo.png">
                            <p style="font-size: 15px">巴厘岛沙滩裙女夏2017新款显瘦海边度假白色仙女裙泰国普吉岛裙子</p>
                            <p style=" color:red;font-size:25px;">¥99.90</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://img.alicdn.com/simba/img/TB1J.BIcWmWBuNkHFJHSuuatVXa.jpg" width="100%">
            </td>
        </tr>
        
    </table>
</body>
</html>
